body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://github.com/1SourceShare/worksot/blob/main/css/12.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333;
    text-align: left; /* Выравнивание текста по левому краю */
}

header, footer {
    background-color: rgba(0, 77, 153, 0.6); /* Снижение прозрачности для лучшей видимости */
    color: white;
    padding: 10px 20px;
}

h1, h2, h3 {
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
}

main {
    background-color: rgba(255, 255, 255, 0.5); /* Уменьшение прозрачности фона */
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 10px;
}

p, li {
    line-height: 1.6;
    color: #000;
    text-shadow: 1px 1px 2px #ffffff;
}

a {
    color: #004d99;
    text-shadow: none; /* Убрать тень для лучшей читаемости */
}

/* Все дополнительные стили, которые вы считаете нужными */
