body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('css/12.png'); /* Укажите путь к вашему фоновому изображению */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333; /* Выберите цвет текста, который будет хорошо виден на фоне */
    text-align: center;
}

header, footer {
    background-color: rgba(0, 77, 153, 0.7); /* Полупрозрачный фон, согласующийся с цветами изображения */
    color: white;
    text-align: left;
    padding: 10px 0;
}

h1, h2, h3 {
    color: #fff; /* Белый цвет для заголовков */
}

main {
    background-color: rgba(255, 255, 255, 0.8); /* Полупрозрачный фон для основного содержимого */
    padding: 15px;
    margin: 0 auto;
    max-width: 800px;
}

p, li {
    line-height: 1.6;
    color: #000; /* Черный или темный цвет текста для лучшей читаемости */
}

a {
    color: #004d99; /* Цвет ссылок, согласующийся с общей цветовой гаммой */
}

/* Другие стили по вашему усмотрению */
